/* ==== NAVBAR ==== */
.navbar {
  background-color: #f9fafb ;
  /* dark blue navbar */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #545f6f !important;
}

.navbar .nav-link {
  color: #0065F8 !important;
  font-weight: 700;
  font-size: larger;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #4300FF  !important;
  /* golden yellow highlight */
}

/* ==== DROPDOWN ==== */
.navbar .dropdown-menu {
  border-radius: 8px;
  background-color: #f9fafb !important;
  /* white dropdown */
  /* border: 1px solid #e9ecef;  */
}

/* Show dropdown on hover */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  /* prevents flicker gap */
}

.dropdown-menu .dropdown-item {
  padding: 10px 16px;
  color: #0d47a1;
  /* black text */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #1565C0 !important;
  color: #fff;
}