.card-body p  {
    font-size: 22px ;
    line-height: 1.8rem;
    color: rgb(82, 79, 79);
    
}
.heading {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #0d47a1;
    /* margin-left: 35%; */
    text-align: center;
    font-weight: 650 !important;
}
